
#idalertas{
   
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;    
    
    margin-left: 2%;
    bottom: 1%;
    z-index: 99;        
}

.alerta {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    
/*    position: fixed;    */
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin-left: 20px;*/
    
    /*font-weight: bold;*/
    font-size: 0.85rem;  
    
    width: 100%;
    
}

.alerta-error {
    color: #b94a48;
    color: white;
    background-color: #f2dede;
    background-color: #cc0000;
    border-color: #ebccd1;
    border-color: #cc0000;
}




.alerta-ok {
    color: #468847;
    color: white;
    background-color: #dff0d8;    
    background-color: #4CAF50!important;    
    border-color: #d6e9c6;
    border-color: #4CAF50!important;
}


.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}