

/* paginacion */


.pagination {
}



.pagination  > ul {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    
}



.pagination  > ul li {
    list-style: none;    
    text-align: center;       
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;

}


    

.pagination a {
    text-decoration: none;    
    padding-left: 12px;
    padding-right: 12px;    
    
    padding-top: 2px;
    padding-bottom: 2px;
    
    border: solid 1px;
    
    
/*width: 30px;*/
    
}



