
<article>
            <form
            class="form"
            action="#"
            name="form_cajagasto"
            id="form_cajachicagasto"                    
            >
            
                
                    
        <input                                                 
            type="hidden"
            name="gasto"
            id="cajachicagasto_gasto"                            
            class="num" 
            data-pertenece ="CajaChicaGasto"
            value="0"
            />
                    
        
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="fecha">Fecha:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha"
                            id="cajachicagasto_fecha"                            
                            />
                    </div>
                </div>    
            </div>                    



        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-24">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="cajachicagasto_descripcion"                            
                            />
                    </div>
                </div>    
            </div>
                
        
        

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="factura_numero">Factura:</label> 
                    </div>

                    <div class="bl-10">
                        <input                                                 
                            type="text"
                            name="factura_numero"
                            id="cajachicagasto_factura_numero"                            
                            />
                    </div>
                </div>    
            </div>
                                             
        
        

                
            <div class="f-line">                
                
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="cat_gasto">Categoria:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="cat_gasto" 
                                    id="cajachicagasto_cat_gasto"                                                                           
                                     >   
                            </select>      
                    </div>
                </div>  
                
                    <div class="bl-4">
                    </div>                  
                
                
                
                <div class="f-campo" id="cam_vehiculo">

                    <div class="bl-4">
                        <label for="vehiculo">Vehiculo:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="vehiculo"
                            id="transito_carga_vehiculo"
                            class="num" 
                            value="0"
                            />
                    </div>
                    
                    <div class="bl-1">
                    </div>                      
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" id="ico-more-transito_carga_vehiculo" data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>                    
                    
                </div>    
                
            </div>                
                
             
        
        
        
            <div class="f-line" id="cam_vehiculo02" >
                
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="detalle_vehiculo">Datos Vehiculo</label> 
                    </div>
                    
                    
                    <div class="bl-16 out">      
                        <output 
                            id="detalle_vehiculo_out" >                            
                        </output>
                    </div>                 
                </div>    

                <div class="bl-1">
                </div>                                      
                
                <div class="f-campo">
                    <div class="bl-4">
                        <label for="detalle_cliente">Cliente</label> 
                    </div>

                    <div class="bl-2">
                    </div>                      
                    
                    <div class="bl-22 out">      
                        <output 
                            id="cliente_out" >                            
                        </output>
                    </div>                 
                </div>    
                
                
                
            </div>

        

                
            <div class="f-line" id="subcate" >                
                
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="subcategoria_gasto">Sub categoria:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="subcategoria_gasto" 
                                    id="cajachicagasto_subcat_gasto"                                                                           
                                     >   
                            </select>      
                    </div>
                </div>  
                
            </div>                
                
             
                
        
        
        
        
        


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="importe">Importe:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="importe"
                            id="cajachicagasto_importe"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>
                
                


                



        </form>

</article>

<article id="cajachicagasto-acciones">
    <pre></pre>
</article>
                


<article id="cajachicagasto-tabuladores">
    <pre></pre>
</article>
                
