

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="cajachicagasto-tabla">
          <thead>
            <tr>
                <th class="ca-10">Fecha</th>
                <th class="ca-30">Descripcion</th>
                <th class="ca-10">Factura</th>
                <th class="ca-30">Categoria</th>
                <th class="ca-20">Importe</th>
            </tr>
          </thead>

          <tbody id="cajachicagasto-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <div id="cajachicagasto_paginacion" class="pagination" >                            
        </div>


        <article id="cajachicagasto_acciones_lista">
            <pre></pre>
        </article>    

