


<div class="serie_line"   data-linea_id="cambioid_">
    
        <div class="serie_subline">                    


                <div class="serie_elemento_label">Cliente:</div>

                <div class="serie_elemento_valor" data-valor="cliente_nombre">                            
                </div>                        

                <div class="serie_elemento_label serie_elemento_valor" data-valor="iden_doc">                            
                </div>                        

                <div class="serie_elemento_valor" data-valor="iden_numero">                            
                </div>                 


        </div>    
    


        <div class="serie_subline">

                <div class="serie_elemento">

                    <div class="serie_elemento_label">Vehiculo:</div>
                    <div class="serie_elemento_valor" data-valor="vehiculo"></div>                        
                </div>        


                <div class="bl-2"></div>

                <div class="serie_elemento">                            
                    <div class="serie_elemento_label">Chasis:</div>
                    <div class="serie_elemento_valor" data-valor="chasis"></div>                                                    
                </div>    

        </div>

    


                <div class="serie_subline">
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">costo origen</div>
                            <div class="serie_elemento_valor txtder" data-valor="costo_origen"></div>                                                    
                        </div>
                    </div>
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">flete</div>
                            <div class="serie_elemento_valor txtder" data-valor="flete"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">chapista</div>
                            <div class="serie_elemento_valor txtder" data-valor="chapista"></div>                                                    
                        </div>
                    </div>                    
                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">mecanico</div>
                            <div class="serie_elemento_valor txtder" data-valor="mecanico"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">accesorios</div>
                            <div class="serie_elemento_valor txtder" data-valor="accesorios_adicionales"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">garantias_pagadas</div>
                            <div class="serie_elemento_valor txtder" data-valor="garantias_pagad"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">electricista</div>
                            <div class="serie_elemento_valor txtder" data-valor="electricista"></div>                                                    
                        </div>
                    </div>                    
                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">despacho</div>
                            <div class="serie_elemento_valor txtder" data-valor="despacho"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">chapa</div>
                            <div class="serie_elemento_valor txtder" data-valor="chapa"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">vendedor</div>
                            <div class="serie_elemento_valor txtder" data-valor="comision_vendedor"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">precio_venta</div>
                            <div class="serie_elemento_valor txtder" data-valor="precio_venta"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">monto_entrega</div>
                            <div class="serie_elemento_valor txtder" data-valor="monto_entrega"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">dife_guardar</div>
                            <div class="serie_elemento_valor txtder" data-valor="diferencia_guardar"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">nos_debe</div>
                            <div class="serie_elemento_valor txtder" data-valor="nos_debe"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">pago</div>
                            <div class="serie_elemento_valor txtder" data-valor="pago"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">costo_total</div>
                            <div class="serie_elemento_valor txtder" data-valor="costo_total"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">pago_venta_final</div>
                            <div class="serie_elemento_valor txtder" data-valor="pago_venta_final"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">comision_asesor</div>
                            <div class="serie_elemento_valor txtder" data-valor="comision_asesor"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">utilidad_bruta</div>
                            <div class="serie_elemento_valor txtder" data-valor="utilidad_bruta"></div>                                                    
                        </div>
                    </div>                    
                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">utilidad_neta</div>
                            <div class="serie_elemento_valor txtder" data-valor="utilidad_neta"></div>                                                    
                        </div>
                    </div>                    

                    
                    

                    
                    <div class="serie_blockrow bl-6">
                        <div class="serie_blockcol">
                            <div class="serie_elemento_label txtder">entregado</div>
                            <div class="serie_elemento_valor txtder" data-valor="entregado"></div>                                                    
                        </div>
                    </div>                    
                    
                    
                    
                    
                    
                </div>
                       
    
    
    
</div>
                         

                
    
                    
   