

<div class ="table-responsive-vertical">
    
    <div class="serie_main">
        
        
        <div class="serie_thead">
            
            <div class="serie_thead_item">            
            </div>
            <div class="serie_thead_item">                
            </div>                
            <div class="serie_thead_item">                
            </div>                                 
            
        </div>
        



        
        <div class="serie_body" id="transito_costo_serie_body">
        </div>        
        
       
   
    
    
        <div class="serie_tfoot">            
        </div>    
    
        
    </div> 
        
    

    
</div>




    
        <hr class="e20"/>

        <div id="transito_costo_paginacion" class="pagination" >                            
        </div>


        <article id="transito_costo_acciones_lista">
            <pre></pre>
        </article>    

