

<div class ="table-responsive-vertical">
    
        <table class="tableB table0A" id="gananciadet-tabla">
          <thead>
            <tr>
                
                <th colspan="4"  style="width: 42%;" >
                    <div>
                        <h3>Gastos </h3>                        
                    </div>
                </th>
                
                <th class="ca-10" style="width: 6%;"  ></th>
                
                <th colspan="4" style="width: 42%;"  >
                    <div>
                        <h3>Ganancias</h3>                        
                    </div>
                </th>
            </tr>
            
            <tr>
                
                <th style="width: 6%;" class="bt"><h5>Fecha</h5></th>
                <th style="width: 8%;" class="bt"><h5>Importe</h5></th>
                <th style="width: 14%;" class="bt"><h5>Descripcion</h5></th>
                <th style="width: 14%;" class="bt"><h5>Categoria</h5></th>
                
                <th  style="width: 6%;"  ></th>
                
                <th style="width: 6%;" class="bt"><h5>Fecha</h5></th>
                <th style="width: 8%;" class="bt"><h5>Importe</h5></th>
                <th style="width: 14%;" class="bt"><h5>Descripcion</h5></th>
                <th style="width: 14%;" class="bt"><h5>Categoria</h5></th>
                
            </tr>            
            
            
            
          </thead>

          <tbody id="gananciadet-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <div id="gananciadet_paginacion" class="pagination" >                            
        </div>


        <article id="gananciadet_acciones_lista">
            <pre></pre>
        </article>    

