

<div class ="table-responsive-vertical">
    
        <table class="tableB table0A" id="gananciaresumen-tabla">
          <thead>
            <tr>
                
                <th colspan="2"  style="width: 40%;" >
                    <div>
                        <h3>Gastos </h3>                        
                    </div>
                </th>
                
                <th class="ca-10" style="width: 10%;"  ></th>
                
                <th colspan="2" style="width: 40%;"  >
                    <div>
                        <h3>Ganancias</h3>                        
                    </div>
                </th>
            </tr>
            
            <tr>
                
                <th style="width: 20%;" class="bt"><h5>Categoria</h5></th>
                <th style="width: 20%;" class="bt"><h5>Importe</h5></th>
                
                <th  style="width: 10%;"  ></th>
                
                <th style="width: 20%;" class="bt"><h5>Categoria</h5></th>
                <th style="width: 20%;" class="bt"><h5>Importe</h5></th>
                
            </tr>            
            
            
            
          </thead>

          <tbody id="gananciaresumen-tb">

          </tbody>

          <tfoot>
            <tr>
                
                <td class="bt"></td>
                <td  id = "suma_gasto" class="bt"></td>
                
                <td style="border: none;"></td>
                
                <td class="bt"></td>
                <td id = "suma_ingreso" class="bt"></td>
                
                
            </tr>
          </tfoot>
        </table>
</div>
    
        <div id="gananciaresumen_paginacion" class="pagination" >                            
        </div>


        <article id="gananciaresumen_acciones_lista">
            <pre></pre>
        </article>    


        <article id="ganancia_resumen">
            <pre></pre>
        </article>    


<hr class="e20"/>
<hr class="e20"/>
