
<div>
    
    
    
            <form>
            

            <div class="f-line">
                
                
                <div class="f-campo">     

                    <div>     
                        <div>Saldo Inicial</div>     
                        <div id="saldoacumuldo"></div>     
                    </div>
                    
                </div>
                
                <div class="bl-4"> </div>  
                
                <div class="f-campo">     

                    <div>     
                        <div>Saldo Final</div>     
                        <div id="saldofinal"></div>     
                    </div>
                    
                </div>
                
                
                
                
                
            </div>
                
                                     

        </form>

    
       
    
    
    
</div>
