

<div class ="table-responsive-vertical">
    


        <table class="tableB" id="cliente-tabla">
          <thead>
            <tr>                  
                <th class="ca-10">Cliente</th>
                <th class="ca-10">Tipo Doc</th>
                <th class="ca-10">Identificador</th>
                <th class="ca-10">Nombre</th>                
                <th class="ca-10">Telefono</th>                
                <th class="ca-10">Direccion</th> 
            </tr>
          </thead>

          
          <tbody id="cliente-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
    
</div>
    
        <hr class="e20"/>

        <div id="cliente_paginacion" class="pagination" >                            
        </div>


        <article id="cliente_acciones_lista">
            <pre></pre>
        </article>    

