



        <div class ="table-responsive-vertical">

                <table class="tableB" id="vehiculo_carga-tabla">
                  <thead>
                    <tr>
                        
                        
              
                        
                        <th style="width: 6%;">vehiculo</th>
                        <th style="width: 12%;">marca</th>
                        <th style="width: 12%;">modelo</th>
                        <th style="width: 18%;">chasis</th>
                        <th style="width: 8%;">color</th>
                        <th style="width: 4%;">año</th>
                        <th style="width: 6%;">entregado</th>
                        <th style="width: 36%;">cliente</th>
                        
                        
                    </tr>
                  </thead>

                  <tbody id="vehiculo_carga-tb">

                  </tbody>

                  <tfoot>
                    <tr>
                    </tr>
                  </tfoot>
                </table>

        </div>



        <hr class="e20"/>

        
        
        <div id="vehiculo_carga_paginacion" class="pagination" >                            
        </div>

        
        

        <article id="vehiculo_carga_acciones_lista">
            <pre></pre>
        </article>    
        




        
        

        
        
        
        