
<article>
            <form
            class="form"
            action="#"
            name="form_categoriagasto"
            id="form_categoriagasto"                    
            >
            
                

        
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="cat_gasto">Categoria:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="cat_gasto"
                            id="categoriagasto_cat_gasto"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    


        
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-20">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="categoriagasto_descripcion"                            
                            />
                    </div>
                </div>    
            </div>                    
        
        


        

        </form>

</article>

<article id="categoriagasto-acciones">
    <pre></pre>
</article>
                


<article id="categoriagasto-tabuladores">
    <pre></pre>
</article>
                
