
<article>
            <form
            class="form"
            action="#"
            name="form_cajachicaingreso"
            id="form_cajachicaingreso"                    
            >
            
                
                    
        <input                                                 
            type="hidden"
            name="ingreso"
            id="cajachicaingreso_ingreso"                            
            class="num" 
            data-pertenece ="CajaIngreso"
            value="0"
            />
                    
        
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="fecha">Fecha:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha"
                            id="cajachicaingreso_fecha"                            
                            />
                    </div>
                </div>    
            </div>                    



        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-24">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="cajachicaingreso_descripcion"                            
                            />
                    </div>
                </div>    
            </div>

        

                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-6">
                        <label for="cat_gasto">Categoria:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="cat_ingreso" 
                                    id="cajachicaingreso_cat_ingreso"                                                                           
                                     >   
                            </select>      
                    </div>
                </div>                                
            </div>                
                
                


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="importe">Importe:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="importe"
                            id="cajachicaingreso_importe"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>
                
                


                



        </form>

</article>

<article id="cajachicaingreso-acciones">
    <pre></pre>
</article>
                


<article id="cajachicaingreso-tabuladores">
    <pre></pre>
</article>
                
