

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="cajachicaingreso-tabla">
          <thead>
            <tr>
                <th class="ca-10">Fecha</th>
                <th class="ca-30">Descripcion</th>                
                <th class="ca-10">Categoria</th>
                <th class="ca-20">Importe</th>
            </tr>
          </thead>

          <tbody id="cajachicaingreso-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="cajachicaingreso_paginacion" class="pagination" >                            
        </div>


        <article id="cajachicaingreso_acciones_lista">
            <pre></pre>
        </article>    

