

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="vehiculo-tabla">
          <thead>
            <tr>
                <th class="ca-10">vehiculo</th>
                <th class="ca-30">marca</th>
                <th class="ca-30">modelo</th>
                <th class="ca-30">chasis</th>
                <th class="ca-30">color</th>
                <th class="ca-10">año</th>
      
            </tr>
          </thead>

          <tbody id="vehiculo-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vehiculo_paginacion" class="pagination" >                            
        </div>


        <article id="vehiculo_acciones_lista">
            <pre></pre>
        </article>    

