
<article>
            <form
            class="form"
            action="#"
            name="form_vehiculomarca"
            id="form_vehiculomarca"                    
            >
            
       

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="marca">Marca:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="marca"
                            id="vehiculomarca_marca"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    




            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-9">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="vehiculomarca_descripcion"
                            />
                    </div>
                </div>    
            </div>



        </form>

</article>

<article id="vehiculomarca-acciones">
    <pre></pre>
</article>
                


<article id="vehiculomarca-tabuladores">
    <pre></pre>
</article>
                
